html, body {
  font-size: 10px; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.block {
  background-color: #aeaeae;
  height: 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%; }
  .block-1, .block-2 {
    height: 7rem;
    margin-bottom: 4rem;
    margin-top: 4rem; }
  .block-4, .block-5, .block-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    height: 15rem; }
  .block-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    background: url(../img/img-1.jpg) center center no-repeat;
    background-size: cover; }
  .block-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 68%;
            flex: 0 1 68%;
    background: url(../img/img-2.jpg) center center no-repeat;
    background-size: cover; }
  .block-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    background: url(../img/img-3.jpg) center center no-repeat;
    background-size: cover;
    height: 25rem;
    margin-bottom: 4rem; }
  .block-4 {
    background: url(../img/img-4.jpg) center center no-repeat;
    background-size: cover; }
  .block-5 {
    background: url(../img/img-5.jpg) center center no-repeat;
    background-size: cover; }
  .block-6 {
    background: url(../img/img-6.jpg) center center no-repeat;
    background-size: cover; }

@media (max-width: 768px) and (min-width: 376px) {
  .block {
    margin: 0; }
    .block-2 {
      height: 7rem;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 30%;
              flex: 0 1 30%;
      margin-bottom: 4rem; }
    .block-6 {
      height: 7rem;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 68%;
              flex: 0 1 68%;
      margin-bottom: 4rem; }
    .block-1 {
      height: 25rem;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%;
      margin-bottom: 4rem; }
    .block-3 {
      height: 15rem;
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 49%;
              flex: 0 1 49%; }
    .block-5 {
      height: 15rem;
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 49%;
              flex: 0 1 49%; }
    .block-4 {
      display: none; } }
@media (max-width: 375px) {
  .block {
    margin: 0; }
    .block-3 {
      height: 10rem;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%;
      margin-bottom: 2rem; }
    .block-6 {
      height: 10rem;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%;
      margin-bottom: 1rem; }
    .block-1 {
      height: 25rem;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%; }
    .block-2, .block-4, .block-5 {
      display: none; } }
