html {
  font-size: 10px; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

h1 {
  color: #40946c;
  font-size: 3rem;
  text-align: center; }

h2 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem; }

h3 {
  font-size: 1.7rem;
  color: #4D89AF;
  margin-bottom: 1rem;
  text-align: center; }

.poems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.poem {
  margin: 0 1rem;
  width: 35rem;
  color: #4343D5;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 3rem;
  max-height: 35rem;
  background-color: #B4C1C2;
  box-shadow: 1px 2px 6px #4B45C9; }
  .poem__1 {
    font-family: Pacifico; }
  .poem__2 {
    font-family: Caveat;
    font-size: 2rem; }
  .poem__3 {
    font-family: Marck Script;
    font-size: 2rem; }

span {
  color: red; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem; }

ol {
  margin-left: 5rem;
  margin-bottom: 1rem; }

ol, li {
  font-size: 2rem; }

a {
  text-decoration: none; }

.page-2 {
  text-align: center; }

.copy {
  color: black;
  margin-top: 2rem;
  font-size: 2rem;
  display: block; }
